# Web
Werkzeug=0.16.0
Flask=1.0.2
Flask-Cors=3.0.7
flask-restplus=0.12.1
numpy
matplotlib
fastkml

# pygnome
setuptools>=23.0
gitpython
numpy=1.16.*
scipy>=0.18.*
gsw=3.0.3
psutil>=4.3
progressbar>=2.3
pyzmq>=16
six>=1.10
geojson>=1.3
backports.functools_lru_cache>=1.5
colander>=1.4
tblib>=1.3.*
awesome-slugify>=1.6.5
regex
unidecode>=0.04.19
pyshp=1.2.12
libnetcdf=4.6.1
netCDF4=1.4.1
cftime=1.0.*
gridded=0.2.5
pynucos>=2.8.*
cell_tree2d>=0.3.*
py_gd=0.1.* 
cython=0.25.*
zope.sqlalchemy=1.1
sqlalchemy=1.3.15
future
