{% extends "base.html" %} {% block head %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script type="application/javascript" src="{{ url_for('static',filename='js/config_mission.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" /> {% endblock %} {% block content %}

<div class="container">
    <form action="/saved_mission" method="post" enctype="multipart/form-data">
        <div class="row">
            <h3 class="text-center">Mission configuration</h3>
            <div class="col-md">
                <div class="mb-3">
                    <label for="regionFile" class="form-label">Region of Interest file:</label>
                    <input class="form-control" type="file" id="regionFile" name="region" value="{{ region }}">
                </div>
                <div class="mb-3">
                    <label for="t_mission_input" class="form-label">Mission time (s)</label>
                    <input class="form-control" id="t_mission_input" name="t_mission" value="{{ t_mission }}">
                </div>
                <div class="mb-3">
                    <label for="n_robots_input" class="form-label">Number of vehicles</label>
                    <div class="input-group">
                        <input readonly type="text" name="n_robots" class="form-control" value="{{ robots|length }}" id="n_robots_input">
                        <a class="btn btn-outline-secondary" onclick="subtractRobots()" type="button"><i class="fas fa-minus-circle"></i></a>
                        <a class="btn btn-outline-secondary" onclick="addRobots()" type="button"><i class="fas fa-plus-circle"></i></a>
                    </div>
                </div>
                <div class="mb-3">
                    <table id="robots_table" class="table table-hover">
                        <thead class="thead-primary">
                            <tr>
                                <th scope="col">Vehicle</th>
                                <th scope="col">&kappa;<sub>i</sub></th>
                                <th scope="col">&omega;<sub>ci</sub></th>
                                <th scope="col">&omega;<sub>si</sub></th>
                                <th scope="col">&omega;<sub>di</sub></th>
                                <th scope="col">&omega;<sub>ni</sub></th>
                            </tr>
                        </thead>
                        <tbody>
                            {%+ if robots|length > 0 %} {% for robot in robots %}
                            <tr id="robot{{ robot['id'] }}">
                                <td>{{robot['id']}}</td>
                                <td><input value="{{ robot['kappa'] }}" class="form-control" name="kappa_{{ robot['id'] }}"></td>
                                <td><input value="{{ robot['omega_c'] }}" class="form-control" name="omega_c{{ robot['id'] }}"></td>
                                <td><input value="{{ robot['omega_s'] }}" class="form-control" name="omega_s{{ robot['id'] }}"></td>
                                <td><input value="{{ robot['omega_d'] }}" class="form-control" name="omega_d{{ robot['id'] }}"></td>
                                <td><input value="{{ robot['omega_n'] }}" class="form-control" name="omega_n{{ robot['id'] }}"></td>
                            </tr>
                            {% endfor %} {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md">
                <div id="map_mission" style="width: 100%; height: 400px"></div>
            </div>
        </div>

        <div class="row justify-content-md-center">
            {%+ if robots|length == 0 %}
            <button id="save" class="btn btn-primary btn-large col-md-3" data-bs-toggle="modal" data-bs-target="#progressModal" disabled>
            <i class="fas fa-plane-departure"></i>&nbsp;SAVE
            </button> {% else %}
            <button id="save" class="btn btn-primary btn-large col-md-3" data-bs-toggle="modal" data-bs-target="#progressModal">
            <i class="fas fa-plane-departure"></i>&nbsp;SAVE
            </button> {% endif %}
        </div>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="progressModal" tabindex="-1" aria-labelledby="progressModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="progressModalLabel">Processing request</h5>
                    <!--<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
                </div>
                <div class="modal-body justify-content-md-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block endbody %}
<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMrfiNdxKtbtH4b4WcSN3npLmnK7Q1--g&callback=initMap&libraries=visualization&v=weekly" async></script>
{% endblock %}